* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    text-align: center;
}

pre {
    background: #f5f5f5;
    border: 1px solid;
    display: block;
    font-family: monospace;
    font-size: 0.7rem;
    line-height: 1.4;
    margin: 16px 0;
    overflow-x: auto;
    padding: 0.8rem;
    white-space: pre;
}

p > code {
    background-color: #eeeeee;
    font-family: monospace;
    font-size: 14px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #f5f5f5;
    border-left: 3px solid grey;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

figcaption p {
    text-align: right;
}

figcaption h4 {
    text-align: center;
}

#site-title {
    text-decoration: none;
    color: black;
}

.article-list {
    list-style-type: none;
}

.article-list li {
    padding: 4px 0;
    line-height: 1;
}

@media only screen and (max-width: 500px) {
    .article-list {
        padding: 0;
        font-size: 12px;
    }
}
